VUE_APP_NAME=
VUE_APP_ENV=local
VUE_APP_URI=
VUE_APP_API_URI=
VUE_APP_FRONTEND_URI=
VUE_APP_API_CLIENT_ID=
VUE_APP_GOOGLE_API_KEY=
VUE_APP_SESSION_TIMEOUT=20
VUE_APP_BUGSNAG_API_KEY=
VUE_APP_CONTACT_EMAIL=
VUE_APP_CQC_LOCATION_ACTIVE=
VUE_APP_SERVICE_TAGS=
VUE_APP_HELP_SECTION=
VUE_APP_SERVICE_OFFERINGS=
VUE_APP_S3D_REGION=eu-west-2
VUE_APP_S3D_BUCKET=
VUE_APP_S3D_ACL=private
VUE_APP_S3D_CLOUDFRONT_ID=
